<app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
<!-- <app-todo-item *ngFor="let todo of todos" [todo]="todo" (deleteTodo)="deleteTodo($event)"></app-todo-item>  -->
<nz-table>
    <thead>
        <tr>
            <th>Title</th>

            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        <tr app-todo-item *ngFor="let todo of todos" app-todo-item>
            <td>{{todo.title}} </td>
            <td>
                <nz-divider nzType="vertical"></nz-divider>
                <button (click)="deleteTodo(todo)" nz-button nzType="primary">Delete</button>
            </td>
        </tr>
    </tbody>
</nz-table>