<div style="width: 60%; height: 40%;position: relative; left: 20%; top: 60px;">
    <div style="text-align: center;">
        <h2>Create New Event Type</h2>
    </div>
    <nz-table>
        <tbody>
            <tr>
                <td>
                    <h3>One-on-One</h3>
                    <h5>Let an invitee pick a time to meet with you.</h5>
                </td>
                <td>
                    <div style="text-align: right; position: relative;"></div>
                    <button nz-button nzType="primary" (click)='onclickOneOnOne()'>Create</button>
                </td>
            </tr>
            <tr>
                <td>
                    <h3> Group</h3>
                    <h5>Let multiple invitees meet with you at one time.</h5>
                </td>
                <td>
                    <div style="text-align: right; position: relative;"></div><button nz-button nzType="primary">Create</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>