.button1 {
    width: 100%;
    border: none;
    color: black;
    width: 150px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button {
    border: none;
    color: black;
    width: 75px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


/* [nz-button] {
    margin-bottom: 10px;
} */

nz-button-group {
    margin-bottom: 6px;
    margin-right: 6px;
}


/* .btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;

}




.btn-group button:hover {
    background-color: #3e8e41;
} */