/* .button1 {
    width: 100%;
    border: none;
    color: black;
    padding: 6px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
} */


/* [nz-button] {
    margin-bottom: 12px;
}

nz-button-group {
    margin-bottom: 8px;
    margin-right: 8px;
} */