<div>
    <app-meetinginfo [selectedDate]='selectedValue' [isDateSelected]='isDisplay' [selectedSlotTime]='meetingDuration'>
    </app-meetinginfo>
</div>

<div class="mainContainer">
    <div style="height: 100%;" *ngIf="!isDetailsFormdisplay">

        <div *ngIf="!isDetailsFormdisplay" style="width: 40% ;float: left; height: 100%; left: 2%;position: relative;">
            <div>
                <h2 class="spotpicker-title">Select a Date &amp; Time</h2>
            </div>

            <div [ngStyle]="{ border: '1px solid #d9d9d9', borderRadius: '4px'}">
                <nz-calendar (click)="onClickCalendar()" [(ngModel)]="selectedValue" [nzFullscreen]="false"></nz-calendar>
            </div>
        </div>

        <div style="width: 50%;float:right;height: 100%;top: 5%;" *ngIf="isDisplay ">
            <p>{{ selectedValue | date: 'fullDate' }}</p>
            <div style="height: 90%;" class="slots">
                <app-slots *ngFor="let ButtonSlots of timeSlots.slotButtons; let i=index" [timeSlots]='timeSlots.slotButtons[i].slotTime' [isSlotActive]=timeSlots.slotButtons[i].isActive [allISActives]='timeSlots.slotButtons' (selectedTime)='calculateTime($event)' (formDisplayToggle)='onClickConfirmButtonInCalendar($event)'>
                </app-slots>
            </div>
        </div>
    </div>
</div>