<div class="mainContainer">
    <nz-layout class="navContainer">
        <header class="header">
            <nav>
                <a routerLink="/"></a>
                <a routerLink="/calendar">
                    <h4 style="width: 90%;margin-top: 20px;"> 30 Minute Meeting </h4>
                    <i nz-icon nzType="caret-right" nzTheme="outline" style="width: 10%;float: right;position: relative;"></i></a>
            </nav>
        </header>
    </nz-layout>
</div>



<!-- <div style="float: left; width: 500px">
    <div>
        <nz-card style="width:300px;">
            <div (click)="onClickMeetingDiv()">
                <h2>30 Minute Meeting </h2>
                
                <i nz-icon nzType="caret-right" nzTheme="outline"></i>
            </div>
        </nz-card>
    </div>
    <div *ngIf="isDisplay">
        <nz-alert nzMessage="Selected Date: {{ selectedValue | date: 'fullDate' }}"></nz-alert>
    </div>
</div> -->