.hidden {
    display: none !important
}

p {
    margin: 0px;
}

.mainContainer {
    border: 1px solid lightgrey;
    background: #ECECEC;
    width: 75%;
    height: 80%;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 15%;
    padding-bottom: 15%;
    position: relative;
}

.navContainer {
    background-color: white;
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
}

[nz-button] {
    margin-right: 4px;
    margin-bottom: 6px;
}


/* .mainContainer {
    margin-left: auto;
    margin-right: auto
} */


/* .inputMargin,
button {
    margin-bottom: 20px;
    margin-right: 20px;
}

h1 {
    color: green;
    padding-left: 47px;
}

h2 {
    padding-left: 11px;
} */